<!DOCTYPE html>
<html class="no-js" lang="uz">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Ofiyat Med - Резюме</title>
  <meta name="description" content="Ofiyat Med - Резюме" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  <link rel="stylesheet" href="/vendor/animate/animate.min.css" />
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css" />
  <link rel="stylesheet" href="/vendor/venobox/venobox.css" />
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html"><i class="fas fa-level-up-alt"></i></button>
  <%- include("./partials/header.ejs")%>
    <div class="breadcrumbs-title-area">
      <div class="container">
        <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
          <h2>Резюме</h2>
          <ul>
            <li><a href="/">Главная Страница</a></li>
            <li>Резюме</li>
          </ul>
        </div>
      </div>
    </div>

    <section class="contact-area section-padding">
      <div class="container">
        <div class="section-title pb-10 wow animate__animated animate__fadeInUp">
          <span class="sub-title">Отправка резюме</span>
          <h2>Не стесняйтесь обращаться к нам</h2>
          <div class="section-title-separator"></div>
        </div>
        <div class="row">
          <div class="col-lg-5 col-md-12 wow animate__animated animate__fadeInUp">
            <div class="contact-info">
              <ul>
                <li>
                  <div class="icon">
                    <i class="fas fa-map-marker-alt"></i>
                  </div>
                  <span>Наш адрес</span>
                  <%= info.address %>
                </li>
                <li>
                  <div class="icon">
                    <i class="fas fa-envelope"></i>
                  </div>
                  <span>Наш адрес электронной почты</span>
                  <a href="mailto:<%= info.email %>">
                    <%= info.email %>
                  </a>
                </li>
                <li>
                  <div class="icon">
                    <i class="fas fa-phone-volume"></i>
                  </div>
                  <span>Телефон</span>
                  <a href="tel:<%= info.address %>">
                    <%= info.phone %>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-7 col-md-12 wow animate__animated animate__fadeInUp mt-5-mobile">
            <div class="contact-form">
              <form id="contactForm">
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                      <input type="text" name="name" id="name" class="form-control" required
                        data-error="Iltimos Ismingizni yozing" placeholder="Ваше имя">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="form-group">
                      <input type="text" name="phone_number" id="phone_number" required
                        data-error="Пожалуйста, введите свой номер телефона" class="form-control"
                        placeholder="Введите свой номер телефона">
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mb-3">
                    <div class="input-group custom-file-button">
                      <label class="input-group-text" for="file">Выберите Файл Резюме</label>
                      <input type="file" class="form-control" id="file" name="file" style="padding-top: 0.85em;">
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                      <textarea name="message" class="form-control" id="message" cols="30" rows="5" required
                        data-error="Iltimos xabaringizni kiriting" placeholder="Краткая информация о себе"></textarea>
                      <div class="help-block with-errors"></div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12">
                    <button type="submit" id="submitButton" class="btn btn-primary">Подтвердить</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./partials/footer.ejs')%>
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
      <script src="/vendor/bootstrap/bootstrap.min.js"></script>
      <script src="/vendor/wow/wow.js"></script>
      <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
      <script src="/vendor/venobox/venobox.min.js"></script>
      <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
      <script src="/js/main.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script>
        $(document).ready(function () {
          $("form").submit(async function (event) {
            event.preventDefault();

            const submitButton = $("#submitButton");
            submitButton.text("Loading...");
            submitButton.prop("disabled", true);

            try {
              const response1 = await fetch("http://194.190.152.29:3333/upload/ofiyat", {
                method: "POST",
                body: new FormData(this),
              });

              if (!response1.ok) {
                throw new Error("Error uploading file");
              }

              const data1 = await response1.json();

              const postData = {
                file: data1.fileUrl,
                name: $("#name").val(),
                phone_number: $("#phone_number").val(),
                message: $("#message").val(),
              };

              const response2 = await fetch("/resume", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(postData),
              });

              if (!response2.ok) {
                throw new Error("Error sending data to /resume");
              }

              const data2 = await response2.json();

              await Swal.fire("Успешно", "Ваше сообщение отправлено", "success");
              window.location.href = "/ru/resume";
            } catch (error) {
              await Swal.fire("Ошибка", "Ошибка", "error");
            }
          });
        });
      </script>
</body>

</html>
<style>
  .custom-file-button input[type="file"] {
    margin-left: -2px !important;
  }

  .custom-file-button input[type="file"]::-webkit-file-upload-button {
    display: none;
  }

  .custom-file-button input[type="file"]::file-selector-button {
    display: none;
  }

  .custom-file-button:hover label {
    background-color: #dde0e3;
    cursor: pointer;
  }

  .mt-5-mobile {
    padding-top: 50px;

    @media (min-width: 767.98px) {
      padding-top: 0;
    }
  }
</style>