<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin/vacancy">Vakansiya Qo'shish</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/info">Ma'lumotlarni O'zgartirish</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/blog">Blog Qo'shish</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/logout">Chiqish</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="mt-8">
    <a href="/admin/blog/register" class="d-flex justify-content-end mb-4 mr-3">
      <button class="btn btn-primary py-2 px-3 rounded-sm font-weight-bold">
        Blog Qo'shish
      </button>
    </a>
    <table class="w-full">
      <thead>
        <tr class="w-full">
          <th class="px-5 py-3 text-left border border-black">Rasm</th>
          <th class="px-5 py-3 text-left border border-black">Mavzu</th>
          <th class="px-5 py-3 text-left border border-black">Qizqacha mazmuzini</th>
          <th class="px-5 py-3 text-left border border-black">To'liq Mazmuni</th>
          <th class="px-5 py-3 text-left border border-black">
            E'lon chiqarilgan sana
          </th>
          <th class="px-5 py-3 text-left border border-black">
            Detallar
          </th>
        </tr>
      </thead>
      <tbody>
        <% for (const vacan of blog) { %>
          <tr class="hover:bg-gray-200 cursor-pointer">
            <td class="px-5 py-3 border border-black">
              <div class="blog-image">
                <img src="/blogs/<%=vacan.photo%>.<%=vacan.file%>" ofiyatmed width="200">
              </div>
            </td>
            <td class="px-5 py-3 border border-black">
              <div>
                <%= vacan.title %>
              </div>
            </td>
            <td class="px-5 py-3 border border-black">
              <div>
                <p>
                  <%- vacan.simpleDescription %>
                </p>
              </div>
            </td>
            <td class="px-5 py-3 border border-black">
              <div>
                <p>
                  <%- vacan.description %>
                </p>
              </div>
            </td>
            <td class="px-5 py-3 border border-black">
              <div>
                <% const date=new Date(vacan.date); %>
                  <%= (date.getDate()).toString().padStart(2, '0' ) %>.<%= (date.getMonth() +
                      1).toString().padStart(2, '0' ) %>.<%= date.getFullYear() %>
              </div>
            </td>
            <td class="px-5 py-3 border border-black">
              <a href="/admin/blog/delete/<%= vacan._id %>" class="btn btn-primary">
                O'chirib tashlash
              </a>
            </td>
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  <script>
    const login = localStorage.getItem('login');
    if (!login) {
      window.location.href = "/admin";
    }
  </script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>