<!DOCTYPE html>
<html class="no-js" lang="uz">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Ofiyat Med - Bloglarimiz</title>
  <meta name="description" content="Ofiyat Med - Bloglarimiz" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png" />
  <link rel="stylesheet" href="/vendor/animate/animate.min.css" />
  <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css" />
  <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css" />
  <link rel="stylesheet" href="/vendor/venobox/venobox.css" />
  <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/responsive.css" />
</head>

<body>
  <div class="preloader"></div>
  <button class="scroll-top scroll-to-target" data-target="html"><i class="fas fa-level-up-alt"></i></button>
  <header>
    <div id="header-fixed-height"></div>
    <div id="sticky-header" class="menu-area menu-area-one">
      <div class="custom-container">
        <div class="row">
          <div class="col-12">
            <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
            <div class="menu-wrap">
              <nav class="menu-nav" aria-label>
                <div class="logo">
                  <a href="/"><img src="/images/logo.svg" alt="Logo"></a>
                </div>
                <div class="navbar-wrap main-menu d-none d-lg-flex">
                  <ul class="navigation">
                    <li><a href="/">Asosiy Sahifa</a></li>
                    <li><a href="/about">Biz Haqimizda</a></li>
                    <li><a href="/doctor">Jamoamiz</a></li>
                    <li class="menu-item-has-children"><a href="/vacancy">Vakansiya</a>
                      <ul class="sub-menu">
                        <li><a href="/vacancy">Vakansiya</a></li>
                        <li><a href="/resume">Rezume Yuborish</a></li>
                      </ul>
                    </li>
                    <li class="active"><a href="/blog">Bloglarimiz</a></li>
                    <li><a href="/contact">Bog'lanish</a></li>
                  </ul>
                </div>
                <div class="header-action d-none d-md-block">
                  <ul class="list-wrap">
                    <li class="header-btn"><a href="/contact" class="button-one">Qabulga
                        Yozilish</a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="mobile-menu">
              <nav class="menu-box" aria-label>
                <div class="close-btn"><i class="fas fa-times"></i></div>
                <div class="nav-logo">
                  <a href="/"><img src="/images/logo.svg" alt="Logo"></a>
                </div>
                <div class="menu-outer">
                </div>
                <div class="social-links">
                  <ul class="clearfix list-wrap">
                    <li><a href="https://t.me/ofiyat_med"><i class="fab fa-telegram"></i></a></li>
                    <li><a href="https://instagram.com/ofiyat_med?igshid=MzRlODBiNWFlZA=="><i
                          class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=100093428571571"><i
                          class="fab fa-facebook-f"></i></a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <div class="menu-backdrop"></div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="breadcrumbs-title-area">
    <div class="container">
      <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
        <h2>Bloglarimiz</h2>
        <ul>
          <li><a href="/">Asosiy Sahifa</a></li>
          <li>Bloglarimiz</li>
        </ul>
      </div>
    </div>
  </div>
  <section class="blog-section section-padding">
    <div class="section-heading">
      <div class="container">
        <div class="row align-items-center">
          <div class="section-title wow animate__animated animate__fadeInUp">
            <span class="sub-title">So'nggi yangiliklar</span>
            <h2>Klinikamiz haqida eng so'nggi yangiliklar</h2>
            <div class="section-title-separator"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row pt-100">
        <% for(const blog of blogs) { %>
          <div class="col-lg-4 col-md-6 d-flex  wow animate__animated animate__fadeInUp">
            <div class="blog-item">
              <div class="blog-image">
                <a href="blog-details.html"><img class="img-fluid" src="/blogs/<%=blog.photo%>.<%=blog.file%>"
                    alt="Post Image"></a>
              </div>
              <div class="blog-content">
                <ul class="entry-meta meta-item">
                  <li>
                    <div class="post-author">
                      <a href="/" class="mb-0"><span>Ofiyat Med</span></a>
                    </div>
                  </li>
                  <% const options={ year: 'numeric' , month: 'long' , day: 'numeric' }; %>
                    <li class="date-icon"><i class="fal fa-calendar-alt"></i>
                      <%= (new Date(blog.date)).toLocaleDateString('en-US', options) %>
                    </li>
                </ul>
                <h3 class="blog-title"><a href="/blog/<%=blog._id%>">
                    <%=blog.title%>
                  </a></h3>
                <p class="blog-description">
                  <%=blog.simpleDescription%>
                </p>
                <p class="viewlink"><a href="/blog/<%=blog._id%>">Batafsil <i class="fal fa-long-arrow-right"></i></a>
                </p>
              </div>
            </div>
          </div>
          <% } %>
      </div>
    </div>
  </section>
  <footer>
    <div class="footer-widgets">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-12 col-md-6 col-lg-3 res-margin">
            <div class="widget">
              <h1 class="footer-logo" style="color: #fff;">OFIYAT MED</h1>
              <p>Biz sizga har qanday tibbiy yo’nalishda xizmat ko’rsatamiz</p>
              <div class="footer-social">
                <a href="https://t.me/ofiyat_med" title="Telegram"><i class="fab fa-telegram"></i></a>
                <a href="https://instagram.com/ofiyat_med?igshid=MzRlODBiNWFlZA==" title="Instagram"><i
                    class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100093428571571" title="Facebook"><i
                    class="fab fa-facebook"></i></a>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-2 res-margin">
            <div class="widget">
              <h6>Linklar</h6>
              <ul class="footer-menu">
                <li><a href="/">Asosiy Sahifa</a></li>
                <li><a href="/about">Biz Haqimizda</a></li>
                <li><a href="/doctor">Jamoamiz</a></li>
                <li><a href="/vacancy">Vakansiyalar</a></li>
                <li><a href="/blog">Bloglarimiz</a></li>
                <li><a href="/contact">Bog'lanish</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-2 res-margin">
            <div class="widget">
              <h6>Foydali ssilkalar</h6>
              <ul class="footer-menu">
                <li><a href="tel:+998951003300">Texnik yordam</a></li>
                <li><a href="/faq">Ko'p beriladigan savollar</a></li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="widget">
              <h6>Bog'lanish</h6>
            </div>
            <ul class="footer-menu footer-contact-list">
              <li>
                <span>Manzil:</span>
                <a href="<%= info.google_address %>">
                  <%= info.address %>
                </a>
              </li>
              <li>
                <span>Email:</span>
                <a href="mailto:<%= info.email %>">
                  <%= info.email %>
                </a>
              </li>
              <li>
                <span>Telefon Raqam:</span>
                <a href="tel:<%= info.phone %>">
                  <%= info.phone %>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <p class="copyright text-center">
              Copyright © 2023 <a href="https://uis-team.com"><img src="/images/uis.png"
                  class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt=""
                  width="50"></a>. Barcha Huquqlar Himoyalangan.
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
  <script src="/vendor/bootstrap/bootstrap.min.js"></script>
  <script src="/vendor/wow/wow.js"></script>
  <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
  <script src="/vendor/venobox/venobox.min.js"></script>
  <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>