<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ofiyat Med - Qo'llab quvvatlash</title>
    <meta name="description" content="Ofiyat Med - Qo'llab quvvatlash">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
    <link rel="stylesheet" href="/vendor/venobox/venobox.css">
    <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <div class="preloader"></div>
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-level-up-alt"></i>
    </button>
    <header>
        <div id="header-fixed-height"></div>
        <div id="sticky-header" class="menu-area menu-area-one">
            <div class="custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                        <div class="menu-wrap">
                            <nav class="menu-nav" aria-label>
                                <div class="logo">
                                    <a href="/"><img src="/images/logo.svg" alt="Logo"></a>
                                </div>
                                <div class="navbar-wrap main-menu d-none d-lg-flex">
                                    <ul class="navigation">
                                        <li><a href="/">Asosiy Sahifa</a></li>
                                        <li><a href="/about">Biz Haqimizda</a></li>
                                        <li><a href="/doctor">Jamoamiz</a></li>
                                        <li class="active"><a href="/contact">Bog'lanish</a></li>
                                    </ul>
                                </div>
                                <div class="header-action d-none d-md-block">
                                    <ul class="list-wrap">
                                        <li class="header-btn"><a href="contact.html" class="button-one">Qabulga
                                                Yozilish</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="mobile-menu">
                            <nav class="menu-box" aria-label>
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <div class="nav-logo">
                                    <a href="/"><img src="/images/logo.svg" alt="Logo"></a>
                                </div>
                                <div class="menu-outer">
                                </div>
                                <div class="social-links">
                                    <ul class="clearfix list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-backdrop"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcrumbs-title-area">
        <div class="container">
            <div class="breadcrumbs-title-content wow animate__animated animate__fadeInUp">
                <h2>Bog'lanish</h2>
                <ul>
                    <li><a href="/">Asosiy Sahifa</a></li>
                    <li>Bog'lanish</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="contact-area section-padding">
        <div class="container">
            <div class="section-title pb-10 wow animate__animated animate__fadeInUp">
                <span class="sub-title">Xabar yuborish</span>
                <h2>Biz bilan bog'lanishga uyalmang</h2>
                <div class="section-title-separator"></div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-12 wow animate__animated animate__fadeInUp">
                    <div class="contact-info">
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <span>Manzilimiz</span>
                                <%= info.address %>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-envelope"></i>
                                </div>
                                <span>Elektron Pochta manzilimiz</span>
                                <a href="mailto:<%= info.email %>">
                                    <%= info.email %>
                                </a>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fas fa-phone-volume"></i>
                                </div>
                                <span>Telefon</span>
                                <a href="tel:<%= info.address %>">
                                    <%= info.phone %>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 wow animate__animated animate__fadeInUp">
                    <div class="contact-form">
                        <form id="contactForm" action="/contact" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="form-control" required
                                            data-error="Iltimos Ismingizni yozing" placeholder="Ismingiz">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="phone_number" id="phone_number" required
                                            data-error="Iltimos telefon raqamingizni kiriting" class="form-control"
                                            placeholder="Telefon raqamingizni kiriting">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" name="msg_subject" id="msg_subject" class="form-control"
                                            required data-error="Iltimos xabaringiz mavzusini kiriting"
                                            placeholder="Xabaringiz mavzusi">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="5"
                                            required data-error="Iltimos xabaringizni kiriting"
                                            placeholder="Xabaringiz"></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="btn btn-primary">Tasdiqlash</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="map-area">
        <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0"
                marginwidth="0"
                src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=ofiyat%20med+(Ofiyat%20Med)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                    href="https://www.maps.ie/population/">Population Estimator map</a></iframe></div>
    </div>
    <footer>
        <div class="footer-widgets">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6 col-lg-3 res-margin">
                        <div class="widget">
                            <p class="footer-logo">
                            <h1 style="color: #fff;">OFIYAT MED</h1>
                            </p>
                            <p>
                                Biz sizga har qanday tibbiy yo’nalishda xizmat ko’rsatamiz
                            </p>
                            <div class="footer-social">
                                <a href="#" title="Telegram"><i class="fab fa-telegram"></i></a>
                                <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                                <a href="#" title="Facebook"><i class="fab fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2 offset-lg-1 res-margin">
                        <div class="widget">
                            <h6>Foydali ssilkalar</h6>
                            <ul class="footer-menu">
                                <li><a href="tel:<%= info.phone %>">Texnik yordam</a></li>
                                <li><a href="/faq">Ko'p beriladigan savollar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget">
                            <h6>Bog'lanish</h6>
                        </div>
                        <ul class="footer-menu footer-contact-list">
                            <li>
                                <span>Manzil:</span>
                                <a href="<%= info.google_address %>">
                                    <%= info.address %>
                                </a>
                            </li>
                            <li>
                                <span>Email:</span>
                                <a href="mailto:<%= info.email %>">
                                    <%= info.email %>
                                </a>
                            </li>
                            <li>
                                <span>Telefon Raqam:</span>
                                <a href="tel:<%= info.phone %>">
                                    <%= info.phone %>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="copyright text-center">
                            Copyright © 2023 <a href="https://uis-team.com">UIS Team</a>. Barcha Huquqlar Himoyalangan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/vendor/wow/wow.js"></script>
    <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
    <script src="/vendor/venobox/venobox.min.js"></script>
    <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>