<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>DaktarZone - Medical & Healthcare HTML5 Website Template</title>
    <meta name="description" content="DaktarZone - Medical & Healthcare HTML5 Website Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="/vendor/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/owl-carousel/owl-carousel.min.css">
    <link rel="stylesheet" href="/vendor/venobox/venobox.css">
    <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <div class="preloader"></div>
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fas fa-level-up-alt"></i>
    </button>
    <header>
        <div id="header-fixed-height"></div>
        <div id="sticky-header" class="menu-area menu-area-one">
            <div class="custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                        <div class="menu-wrap">
                            <nav class="menu-nav" aria-label>
                                <div class="logo">
                                    <a href="index.html"><img src="/images/logo.svg" alt="Logo"></a>
                                </div>
                                <div class="navbar-wrap main-menu d-none d-lg-flex">
                                    <ul class="navigation">
                                        <li class="active"><a href="/">Asosiy Sahifa</a></li>
                                        <li><a href="/about">Biz Haqimizda</a></li>
                                        <li class="menu-item-has-children"><a href="#">Services</a>
                                            <ul class="sub-menu">
                                                <li><a href="services.html">Services Page</a></li>
                                                <li><a href="services-two.html">Services Page Two</a></li>
                                                <li><a href="services-details.html">Services Details</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="doctor.html">Doctor</a></li>
                                                <li><a href="doctor-single.html">Doctor Detail</a></li>
                                                <li><a href="gallery-grid.html">Gallery</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">Blog</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">Our Blog</a></li>
                                                <li><a href="blog-single.html">Blog Detail</a></li>
                                                <li><a href="blog-single-left-sidebar.html">Blog Detail Left Sidebar</a>
                                                </li>
                                                <li><a href="blog-single-video.html">Blog Video</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact">Bog'lanish</a></li>
                                    </ul>
                                </div>
                                <div class="header-action d-none d-md-block">
                                    <ul class="list-wrap">
                                        <li class="header-btn"><a href="contact.html" class="button-one">Qabulga Yozilish</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="mobile-menu">
                            <nav class="menu-box" aria-label>
                                <div class="close-btn"><i class="fas fa-times"></i></div>
                                <div class="nav-logo">
                                    <a href="index.html"><img src="/images/logo.svg" alt="Logo"></a>
                                </div>
                                <div class="menu-outer">
                                </div>
                                <div class="social-links">
                                    <ul class="clearfix list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-backdrop"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="hero-banner-two section-padding"
        style="background-image: url(/images/slider/slider_img_3.jpg);  background-size: cover;">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide-item">
                <div class="transform-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8 align-self-center">
                                <div class="hero-banner-two-content text-center">
                                    <h6 class="wow animate__animated animate__fadeInUp">Dunyo Bo'ylab</h6>
                                    <h1 class="wow animate__animated animate__fadeInUp">Yuqori Sifat</h1>
                                    <p class="wow animate__animated animate__fadeInUp">Gray eel-catfish longnose
                                        whiptail catfish smalleye squaretail queen danio unicorn fish <br>
                                        shortnose greeneye fusilier fish silver carp nibbler sharksucker tench lookdown
                                        catfishf</p>
                                    <a href="/contact"
                                        class="button-one wow animate__animated animate__fadeInUp">Qabulga Yozilish</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay overlay-bg-white"></div>
            </div>
        </div>
    </section>
    <section class="services-area-two section-padding">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                    <div class="services-item-two">
                        <div class="services-icon-two">
                            <img src="/images/icon/stethoscope.png" alt="">
                        </div>
                        <div class="services-content-two">
                            <h6 class="title">Mediacal Counseling</h6>
                            <p>There are many variations of passages</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                    <div class="services-item-two">
                        <div class="services-icon-two">
                            <img src="/images/icon/heart.png" alt="">
                        </div>
                        <div class="services-content-two">
                            <h6 class="title">Heart Specialist</h6>
                            <p>There are many variations of passages</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                    <div class="services-item-two">
                        <div class="services-icon-two">
                            <img src="/images/icon/ear.png" alt="">
                        </div>
                        <div class="services-content-two">
                            <h6 class="title">Ear Specialist</h6>
                            <p>There are many variations of passages</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                    <div class="services-item-two">
                        <div class="services-icon-two">
                            <img src="/images/icon/skincare.png" alt="">
                        </div>
                        <div class="support-content-two">
                            <h6 class="title">Skincare</h6>
                            <p>There are many variations of passages</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                    <div class="services-item-two">
                        <div class="services-icon-two">
                            <img src="/images/icon/multivitamin.png" alt="">
                        </div>
                        <div class="services-content-two">
                            <h6 class="title">Multivitamin</h6>
                            <p>There are many variations of passages</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 wow animate__animated animate__fadeInUp">
                    <div class="services-item-two">
                        <div class="services-icon-two">
                            <img src="/images/icon/medicines.png" alt="">
                        </div>
                        <div class="services-content-two">
                            <h6 class="title">Medicines</h6>
                            <p>There are many variations of passages</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="features-area">
        <div class="container">
            <div class="row">
                <div class="section-title wow animate__animated animate__fadeInUp">
                    <h2>Our Mission & Our Vision</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                </div>
                <div class="overview-box">
                    <div class="col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="image">
                            <img src="/images/about/1.svg" alt="image">
                        </div>
                    </div>
                    <div class="col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="content">
                            <h3>Our Mission</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                            <ul class="features-list">
                                <li><span><i class="fal fa-check-double"></i>Cnsectetur adipiscing </span></li>
                                <li><span><i class="fal fa-check-double"></i>Cnsectetur adipiscing </span></li>
                                <li><span><i class="fal fa-check-double"></i>Cnsectetur adipiscing </span></li>
                                <li><span><i class="fal fa-check-double"></i>Cnsectetur adipiscing </span></li>
                                <li><span><i class="fal fa-check-double"></i>Cnsectetur adipiscing </span></li>
                                <li><span><i class="fal fa-check-double"></i>Cnsectetur adipiscing </span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="overview-box">
                    <div class="col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="content">
                            <h3>Our Vision</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                ut labore et dolore magna aliqua.</p>
                            <div class="opening-hour wow animate__animated animate__fadeInUp">
                                <div class="title">
                                    <h5>opening hours</h5>
                                </div>
                                <ul>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <p>monday - friday</p>
                                        <p>09:00 - 20:00</p>
                                    </li>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <p>saturday</p>
                                        <p>10:00 - 16:00</p>
                                    </li>
                                    <li class="d-flex align-items-center justify-content-between">
                                        <p>sunday</p>
                                        <p>09:30 - 18:00</p>
                                    </li>
                                </ul>
                                <a href="#!" class="button-style1">More details <i
                                        class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 wow animate__animated animate__fadeInUp">
                        <div class="image">
                            <img src="/images/about/2.svg" alt="image">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="rectangle-shape1 wow animate__animated animate__fadeInUp"><img src="/images/pattern/pattern-3.png"
                alt="image"></div>
        <div class="rectangle-shape2 wow animate__animated animate__fadeInUp"><img src="/images/pattern/pattern-3.png"
                alt="image"></div>
    </section>
    <section class="services-section">
        <div class="container">
            <div class="section-title wow animate__animated animate__fadeInUp">
                <span class="sub-title">Our Services</span>
                <h2>Our Special Services</h2>
                <div class="section-title-separator"></div>
            </div>
            <div class="services-item-carousel owl-carousel owl-theme">
                <div class="service-block-one">
                    <div class="service-block-one-inner wow animate__animated animate__fadeInUp">
                        <div class="service-block-one-upper-box">
                            <div class="service-block-one-icon fal fa-pills"></div>
                            <h4 class="service-block-one-title"><a href="service-detail.html">Medicine Care</a></h4>
                            <div class="service-block-one-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            </div>
                        </div>
                        <div class="service-block-one-lower-box">
                            <a class="service-block-one-more" href="service-detail.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="service-block-one">
                    <div class="service-block-one-inner wow animate__animated animate__fadeInUp">
                        <div class="service-block-one-upper-box">
                            <div class="service-block-one-icon fal fa-heartbeat"></div>
                            <h4 class="service-block-one-title"><a href="service-detail.html">Cardiologists</a></h4>
                            <div class="service-block-one-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            </div>
                        </div>
                        <div class="service-block-one-lower-box">
                            <a class="service-block-one-more" href="service-detail.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="service-block-one">
                    <div class="service-block-one-inner wow animate__animated animate__fadeInUp">
                        <div class="service-block-one-upper-box">
                            <div class="service-block-one-icon al fa-bone-break"></div>
                            <h4 class="service-block-one-title"><a href="service-detail.html">Orthopaedic</a></h4>
                            <div class="service-block-one-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            </div>
                        </div>
                        <div class="service-block-one-lower-box">
                            <a class="service-block-one-more" href="service-detail.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="service-block-one">
                    <div class="service-block-one-inner wow animate__animated animate__fadeInUp">
                        <div class="service-block-one-upper-box">
                            <div class="service-block-one-icon fal fa-tooth"></div>
                            <h4 class="service-block-one-title"><a href="service-detail.html">Dental Care</a></h4>
                            <div class="service-block-one-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            </div>
                        </div>
                        <div class="service-block-one-lower-box">
                            <a class="service-block-one-more" href="service-detail.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="service-block-one">
                    <div class="service-block-one-inner wow animate__animated animate__fadeInUp">
                        <div class="service-block-one-upper-box">
                            <div class="service-block-one-icon fal fa-head-side-brain"></div>
                            <h4 class="service-block-one-title"><a href="service-detail.html">Neurologists</a></h4>
                            <div class="service-block-one-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            </div>
                        </div>
                        <div class="service-block-one-lower-box">
                            <a class="service-block-one-more" href="service-detail.html">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="service-block-one">
                    <div class="service-block-one-inner wow animate__animated animate__fadeInUp">
                        <div class="service-block-one-upper-box">
                            <div class="service-block-one-icon fal fa-head-vr"></div>
                            <h4 class="service-block-one-title"><a href="service-detail.html">Dermatologists</a></h4>
                            <div class="service-block-one-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            </div>
                        </div>
                        <div class="service-block-one-lower-box">
                            <a class="service-block-one-more" href="service-detail.html">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about-section section-padding-b pt-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-12 wow animate__animated animate__fadeInUp">
                    <div class="about-images mb-5 mb-md-0">
                        <img src="/images/about/1.jpg" alt="">
                        <img src="/images/about/2.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-12 ps-xl-5 wow animate__animated animate__fadeInUp">
                    <div class="section-title-two">
                        <span>25 Years of Experience</span>
                        <h2>High Quality Medical Equipments</h2>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type </p>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="about-section-info">
                                <i class="fal fa-file-certificate"></i>
                                <h3>User Experience</h3>
                                <p>own printer took a galley of type and scramble.</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="about-section-info">
                                <i class="fal fa-user-headset"></i>
                                <h3>Quick Support</h3>
                                <p>own printer took a galley of type and scramble.</p>
                            </div>
                        </div>
                    </div>
                    <a href="contact.html" class="button-one mt-20">Learn More</a>
                </div>
            </div>
        </div>
        </div>
    </section>
    <section id="counter-area" class="section-padding"
        style="background-image: url(/images/bg/1.jpg); background-size: cover; background-attachment: fixed;">
        <div class="container">
            <div class=" row text-center">
                <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                    <div class="counter-items">
                        <div class="counter-icon">
                            <i class="fal fa-scalpel" style="color: #fff;"></i>
                        </div>
                        <div class="number-number">
                            <span class="counter">500</span>
                        </div>
                        <p class="number-desc">Successfull Operation</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                    <div class="counter-items">
                        <div class="counter-icon">
                            <i class="fal fa-user-nurse" style="color: #fff;"></i>
                        </div>
                        <div class="number-number">
                            <span class="counter">100</span>
                        </div>
                        <p class="number-desc">Expert Doctor</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                    <div class="counter-items">
                        <div class="counter-icon">
                            <i class="fal fa-award" style="color: #fff;"></i>
                        </div>
                        <div class="number-number">
                            <span class="counter">400</span>
                        </div>
                        <p class="number-desc">Awards Wining</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 wow animate__animated animate__fadeInUp">
                    <div class="counter-items">
                        <div class="counter-icon">
                            <i class="fab fa-buromobelexperte" style="color: #fff;"></i>
                        </div>
                        <div class="number-number">
                            <span class="counter">30</span>
                        </div>
                        <p class="number-desc">Year of experience</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="team section-padding-b section-padding-t">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-6 wow animate__animated animate__fadeInUp">
                    <div class="section-title">
                        <span class="sub-title">Our Team</span>
                        <h2>Our Dedicated Doctors</h2>
                        <div class="section-title-separator"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="team-member  wow animate__animated animate__fadeInUp ">
                        <div class="team-image">
                            <img src="/images/team/1.jpg" alt="" />
                            <div class="team-social">
                                <div class="team-social-inner">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-details">
                            <h5 class="title"><a href="doctor-single.html">Dr. Md Hridoy Islam</a></h5>
                            <span class="position">CEO Founder</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="team-member  wow animate__animated animate__fadeInUp ">
                        <div class="team-image">
                            <img src="/images/team/2.jpg" alt="" />
                            <div class="team-social">
                                <div class="team-social-inner">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-details">
                            <h5 class="title"><a href="doctor-single.html">Dr. Md Hridoy</a></h5>
                            <span class="position">Psychiatrist</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="team-member  wow animate__animated animate__fadeInUp ">
                        <div class="team-image">
                            <img src="/images/team/3.jpg" alt="" />
                            <div class="team-social">
                                <div class="team-social-inner">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-details">
                            <h5 class="title"><a href="doctor-single.html">Dr. Md Hridoy Islam</a></h5>
                            <span class="position">Heart Specialist</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="team-member  wow animate__animated animate__fadeInUp ">
                        <div class="team-image">
                            <img src="/images/team/4.jpg" alt="" />
                            <div class="team-social">
                                <div class="team-social-inner">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-details">
                            <h5 class="title"><a href="doctor-single.html">Dr. Md Hridoy Islam</a></h5>
                            <span class="position">Senior Doctor</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonial-area section-padding-b">
        <div class="container">
            <div class="row align-items-end">
                <div class="section-title-two wow animate__animated animate__fadeInUp">
                    <span>Real Client Stories</span>
                    <h2>Customer Experiences</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="owl-carousel owl-theme  testimonial-area-slider">
                        <div class="testimonial-area-item wow animate__animated animate__fadeInUp">
                            <div class="testimonial-area-item-client">
                                <div class="testimonial-area-item-icon">
                                    <i class="fal fa-quote-right"></i>
                                </div>
                                <div class="testimonial-area-item-client-image">
                                    <img src="/images/author/2.png" alt="">
                                </div>
                                <div class="testimonial-area-item-client-title">
                                    <h5>Md Hridoy Islam</h5>
                                    <span class="text-eight">Founder</span>
                                </div>
                            </div>
                            <p>is a library of ready-to-use, cross-browser animations for use in your web projects.
                                Great for emphasis, home pages, sliders, and attention-guiding hints.</p>
                            <div class="testimonial-area-item-reviews">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="testimonial-area-item swiper-slide wow animate__animated animate__fadeInUp">
                            <div class="testimonial-area-item-client">
                                <div class="testimonial-area-item-icon">
                                    <i class="fal fa-quote-right"></i>
                                </div>
                                <div class="testimonial-area-item-client-image">
                                    <img src="/images/author/1.png" alt="">
                                </div>
                                <div class="testimonial-area-item-client-title">
                                    <h5>Hridoy</h5>
                                    <span class="text-eight">Co Founder</span>
                                </div>
                            </div>
                            <p>is a library of ready-to-use, cross-browser animations for use in your web projects.
                                Great for emphasis, home pages, sliders, and attention-guiding hints.</p>
                            <div class="testimonial-area-item-reviews">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                        <div class="testimonial-area-item swiper-slide wow animate__animated animate__fadeInUp">
                            <div class="testimonial-area-item-client">
                                <div class="testimonial-area-item-icon">
                                    <i class="fal fa-quote-right"></i>
                                </div>
                                <div class="testimonial-area-item-client-image">
                                    <img src="/images/author/2.png" alt="">
                                </div>
                                <div class="testimonial-area-item-client-title">
                                    <h5>Md Hridoy</h5>
                                    <span class="text-eight">Designer</span>
                                </div>
                            </div>
                            <p>is a library of ready-to-use, cross-browser animations for use in your web projects.
                                Great for emphasis, home pages, sliders, and attention-guiding hints.</p>
                            <div class="testimonial-area-item-reviews">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-section section-padding">
        <div class="section-heading">
            <div class="container">
                <div class="row align-items-center">
                    <div class="section-title wow animate__animated animate__fadeInUp">
                        <span class="sub-title">Latest Blog</span>
                        <h2>people are giving these goods for free so check them out</h2>
                        <div class="section-title-separator"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row pt-100">
                <div class="col-lg-4 col-md-6 d-flex  wow animate__animated animate__fadeInUp  ">
                    <div class="blog-item">
                        <div class="blog-image">
                            <a href="blog-details.html"><img class="img-fluid" src="/images/blog/1.jpg"
                                    alt="Post Image"></a>
                        </div>
                        <div class="blog-content">
                            <p class="blog-category">
                                <a href="javascript:void(0);"><span>UI</span></a><a
                                    href="javascript:void(0);"><span>New</span></a>
                            </p>
                            <ul class="entry-meta meta-item">
                                <li>
                                    <div class="post-author">
                                        <div class="post-author-img">
                                            <img src="/images/author/1.png" alt="Post Author">
                                        </div>
                                        <a href="javascript:void(0);" class="mb-0"> <span> Hri Doy </span></a>
                                    </div>
                                </li>
                                <li class="date-icon"><i class="fal fa-calendar-alt"></i> October 4, 2023</li>
                            </ul>
                            <h3 class="blog-title"><a href="blog-details.html">Where does it from?</a></h3>
                            <p class="blog-description">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed
                                do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur em adipiscing elit,</p>
                            <p class="viewlink"><a href="blog-details.html">View Details <i
                                        class="fal fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex  wow animate__animated animate__fadeInUp ">
                    <div class="blog-item">
                        <div class="blog-image">
                            <a href="blog-details.html"><img class="img-fluid" src="/images/blog/2.jpg"
                                    alt="Post Image"></a>
                        </div>
                        <div class="blog-content">
                            <p class="blog-category">
                                <a href="javascript:void(0);"><span>UI</span></a><a
                                    href="javascript:void(0);"><span>New</span></a>
                            </p>
                            <ul class="entry-meta meta-item">
                                <li>
                                    <div class="post-author">
                                        <div class="post-author-img">
                                            <img src="/images/author/1.png" alt="Post Author">
                                        </div>
                                        <a href="javascript:void(0);" class="mb-0"> <span> Md Hridoy Islam </span></a>
                                    </div>
                                </li>
                                <li class="date-icon"><i class="fal fa-calendar-alt"></i> October 4, 2023</li>
                            </ul>
                            <h3 class="blog-title"><a href="blog-details.html">Where it come from?</a></h3>
                            <p class="blog-description">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed
                                do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur em adipiscing elit,</p>
                            <p class="viewlink"><a href="blog-details.html">View Details <i
                                        class="fal fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 d-flex  wow animate__animated animate__fadeInUp ">
                    <div class="blog-item">
                        <div class="blog-image">
                            <a href="blog-details.html"><img class="img-fluid" src="/images/blog/3.jpg"
                                    alt="Post Image"></a>
                        </div>
                        <div class="blog-content">
                            <p class="blog-category">
                                <a href="javascript:void(0);"><span>UI</span></a><a
                                    href="javascript:void(0);"><span>New</span></a>
                            </p>
                            <ul class="entry-meta meta-item">
                                <li>
                                    <div class="post-author">
                                        <div class="post-author-img">
                                            <img src="/images/author/1.png" alt="Post Author">
                                        </div>
                                        <a href="javascript:void(0);" class="mb-0"> <span> Admin </span></a>
                                    </div>
                                </li>
                                <li class="date-icon"><i class="fal fa-calendar-alt"></i> October 4, 2023</li>
                            </ul>
                            <h3 class="blog-title"><a href="blog-details.html">Where does it come from?</a></h3>
                            <p class="blog-description">Lorem ipsum dolor sit amet, consectetur em adipiscing elit, sed
                                do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur em adipiscing elit,</p>
                            <p class="viewlink"><a href="blog-details.html">View Details <i
                                        class="fal fa-long-arrow-right"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="subscribe-section section-padding theme-overlay"
        style="background-image: url(/images/slider/slider_img_4.jpg); background-size: cover;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-6">
                    <div class="section-title text-center white">
                        <h3 class="text-white wow animate__animated animate__fadeInUp">Yangiliklarimizga Obuna Bo'ling</h3>
                        <p class="text-white wow animate__animated animate__fadeInUp">Yangilik va Aksiyalarimizdan xabardor bo'lish uchun o'z elektron pochtangizni yozib qoldiring</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-6 wow animate__animated animate__fadeInUp">
                    <form id="subscribe-form" action="/" method="post">
                        <div class="input-group mb-3">
                            <input type="email" name="email" class="form-control field-subscribe"
                                placeholder="Elektron Pochta manzilini kiriting." required />
                        </div>
                        <div class="subscribe-btn text-center">
                            <button type="submit" class="button-one mb-5">Obuna bo'lish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class="partner-area section-padding-b section-padding-t">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="partner-carousel owl-carousel owl-theme">
                            <div class="item wow animate__animated animate__fadeInUp">
                                <img src="/images/partner/1.png" class="img-fluid" alt="img-13">
                            </div>
                            <div class="item wow animate__animated animate__fadeInUp">
                                <img src="/images/partner/2.png" class="img-fluid" alt="img-14">
                            </div>
                            <div class="item wow animate__animated animate__fadeInUp">
                                <img src="/images/partner/3.png" class="img-fluid" alt="img-15">
                            </div>
                            <div class="item wow animate__animated animate__fadeInUp">
                                <img src="/images/partner/4.png" class="img-fluid" alt="img-16">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-widgets">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-6 col-lg-3 res-margin">
                        <div class="widget">
                            <p class="footer-logo">
                                <h1 style="color: #fff;">OFIYAT MED</h1>
                            </p>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis non, fugit totam vel
                                laboriosam vitae.
                            </p>
                            <div class="footer-social">
                                <a href="#" title="Twitter"><i class="fab fa-twitter fa-fw"></i></a>
                                <a href="#" title="Facebook"><i class="fab fa-facebook-f fa-fw"></i></a>
                                <a href="#" title="Instagram"><i class="fab fa-instagram"></i></a>
                                <a href="#" title="Dribbble"><i class="fab fa-dribbble"></i></a>
                                <a href="#" title="Pinterest"><i class="fab fa-pinterest fa-fw"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-2 offset-lg-1 res-margin">
                        <div class="widget">
                            <h6>Foydali ssilkalar</h6>
                            <ul class="footer-menu">
                                <li><a href="tel:+998951003300">Texnik yordam</a></li>
                                <li><a href="/privacy-and-police">Maxfiylik Siyosati</a></li>
                                <li><a href="tel:+998951003300">Hamkorlik Dasturi</a></li>
                                <li><a href="/faq">Ko'p beriladigan savollar</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="widget">
                            <h6>Bog'lanish</h6>
                        </div>
                        <ul class="footer-menu footer-contact-list">
                            <li>
                                <span>Manzil:</span>
                                <a href="<%= info.google_address %>"><%= info.address %></a>
                            </li>
                            <li>
                                <span>Email:</span>
                                <a href="mailto:<%= info.email %>"><%= info.email %></a>
                            </li>
                            <li>
                                <span>Telefon Raqam:</span>
                                <a href="tel:<%= info.phone %>"><%= info.phone %></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="copyright text-center">
                            Copyright © 2023 <a href="https://uis-team.com">UIS Team</a>. Barcha Huquqlar Himoyalangan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/waypoints/jquery-waypoints.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/vendor/wow/wow.js"></script>
    <script src="/vendor/jquery-counterup/jquery-counterup.min.js"></script>
    <script src="/vendor/venobox/venobox.min.js"></script>
    <script src="/vendor/owl-carousel/owl-carousel.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>