<footer>
  <div class="footer-widgets">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-12 col-md-6 col-lg-3 res-margin">
          <div class="widget">
            <h1 class="footer-logo" style="color: #fff;">OFIYAT MED</h1>
            <p>Мы предоставим вам услуги по любому медицинскому направлению</p>
            <div class="footer-social">
              <a href="https://t.me/ofiyat_med" title="Telegram"><i class="fab fa-telegram"></i></a>
              <a href="https://instagram.com/ofiyat_med?igshid=MzRlODBiNWFlZA==" title="Instagram"><i
                  class="fab fa-instagram"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100093428571571" title="Facebook"><i
                  class="fab fa-facebook"></i></a>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 res-margin">
          <div class="widget">
            <h6>Страницы</h6>
            <ul class="footer-menu">
              <li><a href="/ru">Главная Страница</a></li>
              <li><a href="/ru/about">О Нас</a></li>
              <li><a href="/ru/doctor">Наша команда</a></li>
              <li><a href="/ru/vacancy">Вакансии</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-2 res-margin">
          <div class="widget">
            <h6>Страницы</h6>
            <ul class="footer-menu">
              <li><a href="/ru/blog">Наши новости</a></li>
              <li><a href="/ru/faq">Часто задаваемые вопросы</a></li>
              <li><a href="/ru/contact">Запись На Прием</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-3">
          <div class="widget">
            <h6>Связь</h6>
          </div>
          <ul class="footer-menu footer-contact-list">
            <li>
              <span>Адрес:</span>
              <a href="<%= info.google_address %>">
                <%= info.address %>
              </a>
            </li>
            <li>
              <span>Email:</span>
              <a href="mailto:<%= info.email %>">
                <%= info.email %>
              </a>
            </li>
            <li>
              <span>Номер Телефона:</span>
              <a href="tel:<%= info.phone %>">
                <%= info.phone %>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="d-md-none">
              <div class="text-center">
                <span class="font-weight-bolder">Developed with</span>
                <img id="heart" src="/images/heart.png" alt="ofiyatmed" class="heart-animation mx-2" width="30">
                by
                <a href="https://uis-team.com" class="text-white "><img src="/images/uis.png" alt="ofiyatmed" width="50">
                  <span>Team</span></a>
              </div>
            </div>
            <div class="text-white d-none d-md-flex justify-content-between align-items-center">
              <div>
                Copyright© 2023
              </div>
              <div class="text-center">
                <span class="font-weight-bolder">Developed with</span>
                <img id="heart" src="/images/heart.png" alt="ofiyatmed" class="heart-animation mx-2" width="35">
                by
                <a href="https://uis-team.com" class="text-white"><img src="/images/uis.png" alt="ofiyatmed" width="50">
                  <span>Team</span></a>
              </div>
              <div>
                Все Права Защищены
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</footer>
<style>
  @keyframes heartBeat {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.2);
    }
  }

  .heart-animation {
    animation: heartBeat 1s infinite;
  }

  .footer-social a i {
    font-size: 35px;
  }

  @media (max-width: 767.98px) {
    .footer-social a i {
      font-size: 25px;
    }
  }

  .footer-widgets {
    position: relative;
    background: url('/images/bg.png') center/cover no-repeat fixed;
    z-index: 0;
  }

  .footer-widgets::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.87);

    /* Adjust the blur intensity as needed */
    z-index: -1;
  }
</style>